<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="mx-auto"  style="width:  300px">
   <h2>Nuestra Historia</h2>
</div>


<div class="row mt-3"> 

  <div class="col col-md-5"> 
    <div class="card"> 
      <div class="card-body">
         <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat dicta ab facilis, minima soluta excepturi atque eos modi ea perspiciatis tenetur iure rem fugit impedit illum quasi rerum dignissimos repellendus.</p>
      </div> 
    </div>
  </div>

  <div class="col col-md-2 text-center"> 
    <button class="btn btn-primary">
      1989
    </button>
</div>

</div>


<div class="row mt-3">

  <div class="col col-md-5"> 
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      1994
    </button>
  </div>

  <div class="col col-md-5">
    <div class="card"> 
      <div class="card-body">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima sunt iusto omnis, rerum sed sapiente culpa necessitatibus! Ab, enim recusandae. Provident, magnam tenetur saepe id deserunt quas unde ratione a.
        </p>

      </div>
    </div>
  </div>



</div>


<div class="row mt-3"> 

  <div class="col col-md-5"> 
    <div class="card"> 
      <div class="card-body">
        <img src="img/nuestrahistoria/1.jpg" width="200" style="float:left; margin-right: 5px">

         <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat dicta ab facilis, minima soluta excepturi atque eos modi ea perspiciatis tenetur iure rem fugit impedit illum quasi rerum dignissimos repellendus.</p>
      </div> 
    </div>
  </div>

  <div class="col col-md-2 text-center"> 
    <button class="btn btn-primary">
      1999
    </button>
</div>

</div>


</div>


<div class="row mt-3">

  <div class="col col-md-5"> 
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      2004
    </button>
  </div>

  <div class="col col-md-5">
    <div class="card"> 
      <div class="card-body">
        <img src="img/nuestrahistoria/1.jpg" width="200" style="float:left; margin-right: 5px">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima sunt iusto omnis, rerum sed sapiente culpa necessitatibus! Ab, enim recusandae. Provident, magnam tenetur saepe id deserunt quas unde ratione a.
        </p>

      </div>
    </div>
  </div>



</div>


<p style="height: 200px;"></p>

<%- include('pie') -%>













  

